# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
.eggs/
dist/
build/

# Virtualenv
.venv/
venv/

# IDE
.idea/
.vscode/

# Env & secrets
.env
.env.*
*.env

# Logs
*.log

# Pytest / coverage / mypy
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json
